{% extends 'asset/index.html' %}
{% block title %}区域列表 | {{ block.super }}
{% endblock %}



{% block content %}
    <div class="container">
    <div class="jumbotron">
        <h3 class="page-header">田亩区域列表
        <small><a href="{% url 'asset:index' %}">按所属人列表</a></small></h3>
    </div>
        <div class="col-md-8">
            <ul class="list-group">
                {% for area in area_list %}
                    <a class="list-group-item" href="{% url 'asset:area_detail' area.id %}">
                        <span class="badge">{{ area.get_count }}件/{{ area.get_total_fm }}</span>
                        {{ area }}
                    </a>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}