{% extends 'basic.html' %}
{% block title %}户口{% endblock %}
{% block conten %}

    <div class="container">

    <ol class="breadcrumb">
  <li><a href="{% url 'asset:index' %}">田亩列表</a></li>
        {% if people %}
  <li><a href="#" class="active">{{ people }}</a></li>
        {% endif %}
  <li class="active">Data</li>

</ol>

           <table class="table">
                <thead>
                <tr>
                    <th>区域</th>
                    <th>性质</th>
                    <th>田号</th>
                    <th>分亩</th>
                    <th>备注</th>
                    <th>原有人</th>
                </tr>
                </thead>


                <tbody>
                {% for item in landnum_list %}
                    <tr>
                        <td>{{ item.area }}</td>
                        <td>{{ item.category }}</td>
                        <td>{{ item.num }}</td>
                        <td>{{ item.fm }}</td>
                        <td>{{ item.ps }}</td>
                        <td>{{ item.landownership_set.first.old_owner }}</td>
                    </tr>
                {% endfor %}
                <tfoot>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>{{ people.get_total_land }}</th>
                    <th></th>
                    <th></th>

                </tr>
                </tfoot>
                </tbody>

            </table>
            </div>
{% endblock %}

