{% extends "base.html" %}
{% load bootstrap_tags %}
{% block title %}更改你的密码{% endblock %}
{% block content %}
    <div class="container">
        <div class="col-md-4">
            <h2 class="page-header">更改密码</h2>
            <p>请按照表单要求输入你的新资料</p>
            <form action="." method="post">
                {{ form|as_bootstrap_inline }}
                <input class="btn btn-primary" type="submit" value="提交">
                {% csrf_token %}
            </form>
        </div>
    </div>
{% endblock %}