{% extends 'basic.html' %}
{% block title %}户口{% endblock %}
{% block conten %}
    <div class="container">
<h3 class="page-header">户口列表</h3>
        <div class="col-md-6">

                <div class="list-group">
                    {% for account in account_list %}
                    <a href="{{ account.get_absolute_url }}" class="list-group-item">
                        <span class="badge">{{ account.get_peolpe_count }}人</span>
                        {{ account }}
                    </a>
                     {% endfor %}
                </div>

        </div>
        <div class="col-md-4">
        </div>
    </div>
{% endblock %}