{% extends 'basc.html' %}
{% block title %}户口资料{% endblock %}

{% block breadcrumb %}
    <li><a href="{% url 'account:index' %}">户口列表</a></li>
{% endblock %}

{% block content %}
    <div class="container">
        <h3 class="page-header">户口列表</h3>
        <div class="col-md-6">

            <div class="list-group">
                {% for account in account_list %}
                    <a href="{{ account.get_absolute_url }}" class="list-group-item">
                        <span class="badge">{{ account.get_peolpe_count }}人</span>
                        {{ account }}
                    </a>
                {% endfor %}
            </div>

        </div>
        <div class="col-md-4">
            <h4 class="page-header">本村户口统计</h4>
            <ul class="list-unstyled">
                <li><span>共有人口：{{ total_people }} 人</span></li>
                <li><span>分红人口：{{ total_get_getmoney }} 人</span></li>
                <li><span>男性人口：{{ total_male }} 人</span></li>
                <li><span>女性人口：{{ total_female }} 人</span></li>
                <li><span>平均年龄: {{ average_age }} 岁</span></li>
            </ul>
        </div>
    </div>
{% endblock %}