{% extends 'account/index.html' %}
{% load account_tags %}
{% block title %}
    人口资料列表 | {{ block.super }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h3 class="page-header">人口列表
            <small><a href="{% url 'account:index' %}">按户列表</a></small></h3>
        </div>
        <div class="col-md-8">

            <div class="list-group">
                {% for people in people_list %}
                    <a href="{{ people.get_absolute_url }}" class="list-group-item">
                        <span class="badge">{{ people.get_age }}岁</span>
                        {{ people }}
                    </a>
                {% endfor %}
            </div>
            {% include 'pagination.html' %}
        </div>
        <div class="col-md-4">
            {% show_sidebar %}
        </div>
    </div>
{% endblock %}