{% extends 'account/detail.html' %}
{% block title %}户口{% endblock %}

{% block breadcrumb_detail2_link %}
    <li><a href="#">{{ people }}</a></li>
{% endblock %}

{% block content %}
    <div class="ui container">

    <div class="col-md-6">
        <table class="table">
            <colgroup>
                <col class="col-md-4">
                <col class="col-md-8">
            </colgroup>
            <thead>
            <tr>
                <th>本件田明细</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>姓名</td>
                <td> {{ people }}</td>
            </tr>
            <tr>
                <td>性别</td>
                <td>{{ people.sex }}</td>
            </tr>

            <tr>
                <td>身份证号码</td>
                <td>{{ people.id_card_num }}</td>
            </tr>

            <tr>
                <td>是否已婚</td>
                <td>{{ people.is_main }}</td>
            </tr>

            <tr>
                <td>出生年月日</td>
                <td>{{ people.birthday }}</td>
            </tr>
            <tr>
                <td>年龄</td>
                <td>{{ people.get_age }}</td>
            </tr>
            <tr>
                <td>分红资格</td>
                <td>{{ people.is_getmoney }}</td>
            </tr>
            <tr>
                <td>入户日期</td>
                <td>{{ people.joind }}</td>
            </tr>
            <tr>
                <td>教育程度</td>
                <td>{{ people.education }}</td>
            </tr>
            <tr>
                <td>户口类型</td>
                <td>{{ people.account_type }}</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
