{% extends 'account/index.html' %}
{% block title %}
    人口资料列表 | {{ block.super }}
{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    <li><a href="{% url 'account:people_list' %}">户口列表</a></li>
{% endblock %}

{% block content %}
    <div class="container">
        <h3 class="page-header">人口列表</h3>
        <div class="col-md-6">

            <div class="list-group">
                {% for people in people_list %}
                    <a href="{{ people.get_absolute_url }}" class="list-group-item">
                        <span class="badge">{{ people.get_age }}岁</span>
                        {{ people }}
                    </a>
                {% endfor %}
            </div>
            {% include 'pagination.html' %}
        </div>
        <div class="col-md-4">
            {% block sidebar %}
            {% endblock %}
        </div>
    </div>
{% endblock %}