{% extends 'article/index.html' %}
{% load bootstrap_tags %}
{% block title %}
    {{ block.super }} - {{ article.title }}
{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    <li><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></li>
{% endblock %}

{% block content %}
    <div class="container">
        <h1>
            {% if object %}
                编辑文章： "{{ object.title }}"
            {% else %}
                发表新文章
            {% endif %}
        </h1>
        <div class="module">
            <h2>详细内容</h2>
            <form action="." method="post">
                {{ form|as_bootstrap_inline }}
                {% csrf_token %}
                <input type="submit" value="保存文章">
            </form>

            <hr class="divider">
            {{ form.media }}
    </div>
{% endblock %}
