{% extends 'document/index.html' %}

{% block title %}
    {{ object.title }} | {{ block.super }}
{% endblock %}

{% block breadcrumb %}
    <li><a href="{% url 'document:index' %}">档案集列表</a></li>
    <li><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <div class="page-header">
                <h2>{{ object.title }}
                    <small class="text-center pull-right"><i
                            class="glyphicon glyphicon-eye-open"></i>&nbsp;&nbsp;{{ object.views }}
                        &nbsp;&nbsp;|&nbsp;&nbsp;<i
                                class="glyphicon glyphicon-paperclip"></i>&nbsp;&nbsp;{{ object.item.count }}
                        &nbsp;&nbsp;|&nbsp;&nbsp;<i
                                class="glyphicon glyphicon-time"></i>&nbsp;&nbsp;{{ object.update_d|date:"Y-m-d" }}
                    </small>
                </h2>
                <p>&nbsp;&nbsp;{{ object.desc }}</p>
            </div>
        </div>
        <div class="row">
            {% for item in item_list %}
                <div class="col-xs-6 col-sm-4 col-md-3">
                    <a href="{{ item.get_absolute_url }}">
                        <div style="background-color:#eee" class="thumbnail">
                            {% if item.format in format_list %}
                                {% load thumbnail %}
                                {% thumbnail item.file "280x280" crop="80% center" as im %}
                                    <img src="{{ im.url }}" alt="{{ item.name }}">
                                {% endthumbnail %}
                            {% endif %}
                            <div class="caption">
                                <h3>{{ item.name }}</h3>
                                <p>&nbsp;{{ item.desc }}</p>
                                <p><i class="glyphicon glyphicon-time"></i>&nbsp;&nbsp;{{ item.update_d|date:"Y-m-d" }}
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

