{% extends 'money/index.html' %}
{% block title %}
    {{ title.get_type_display }} | {{ block.super }}
{% endblock %}
{% block head %}
    {{ block.super }}
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    {% load chartit %}
{{ money_charts|load_charts:"cht" }}
{% endblock %}
{% block breadcrumb %}
    {{ block.super }}
    <li><a href="#">{{ title.get_type_display }}流水明细记录</a></li>
{% endblock %}

{% block content %}

    <div class="container">

        <h4 class="page-header">{{ title.get_type_display }}流水明细记录</h4>
        <ul class="list-inline list-unstyled">
            <li><a href="{% url 'money:detail' %}">全部</a></li>
            <li><a {% ifequal type 'b' %}class="label label-primary" {% endifequal %}
                   href="{% url 'money:detail' %}?type=b">银行</a></li>
            <li><a {% ifequal type 'c' %}class="label label-primary" {% endifequal %}
                   href="{% url 'money:detail' %}?type=c">现金</a></li>
            <li><a {% ifequal status '-1' %}class="label label-primary" {% endifequal %}
                   href="{% url 'money:detail' %}?status=-1&{{ full_path }}">支出</a></li>
            <li>
                <a {% ifequal status '1' %}class="label label-primary" {% endifequal %}href="{% url 'money:detail' %}?status=1&{{ full_path }}">收入</a>
            </li>
        </ul>
        <ul class="list-inline list-unstyled">
            <li><a href="">全部</a></li>
            {% for t in tag %}
                <li><a class="label  {% ifequal tag_id t.id %}label-primary {% else %} label-default {% endifequal %}"
                       href="{% url 'money:detail' %}?tag={{ t.id }}&{{ full_path }}">{{ t }}</a></li>
            {% endfor %}
        </ul>
        <div>
            <table class="table table-responsive tab-content">
                <thead>
                <tr>
                    <th>流水号</th>
                    <th>日期</th>
                    <th>项目</th>
                    <th>类型</th>
                    <th>去向</th>
                    <th class="text-center">金额</th>
                    <th class="text-center">余额</th>
                    <th>经手人</th>
                    <th>备注</th>
                    <th>标签</th>
                </tr>
                </thead>
                {% for money in object_list %}
                    <tbody>
                    <tr>
                        <td class="text-center"><a href="{{ money.get_absolute_url }}">{{ money.num }}</a></td>
                        <td>{{ money.date|date:"y-m-d" }}</td>
                        <td>{{ money.detail }}{% for tag in money.tag.all %}<span><a href="{% url 'money:detail' %}?tag={{ tag.id }}"
                                                             class="label  {% ifequal tag_id t.id %}label-primary {% else %} label-success {% endifequal %}">{{ tag }}</a>{% endfor %}</span></td>
                        <td><a href="{% url 'money:detail' %}?type={{ money.type }}">{{ money.get_type_display }}</td>
                        <td>
                            <a href="{% url 'money:detail' %}?status={{ money.status }}&{{ full_path }}">{{ money.get_status_display }}</a>
                        </td>
                        <td class="text-right">{{ money.amount }}</td>
                        <td class="text-right">{{ money.get_balance }}</td>
                        <td>{{ money.operator }}</td>
                        <td>{{ money.ps }}</td>
                    </tr>
                {% endfor %}
                <tfoot>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                </tfoot>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-md-8" id="cht">
                这里显示图表
            </div>
        </div>


    </div>

{% endblock %}