{% extends 'livingcost/index.html' %}

{% block title %}
    {{ block.super }} - {{ num }}
{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
<li><a href="{{ num.get_absolute_url }}">{{ num }}</a></li>
{% endblock %}

{% block content %}

    <div class="container">

        <table class="table">
            <thead>
            <tr>
                <th>抄表日期</th>
                <th>水表度数</th>
                <th>用水量</th>
                <th>水费金额</th>
                <th>是否缴费</th>
                <th>备注信息</th>
                <th>录入日期</th>
            </tr>
            </thead>


            <tbody>
            {% for item in rate %}
                <tr>
                    <td><a href="{% url 'livingcost:mark_detail' item.mark_d.id %}">
                        {{ item.mark_d }}</a></td>
                    <td>{{ item.meter_num }}</td>
                    <td>{{ item.get_total_m3 }}</td>
                    <td>{{ item.get_total_price }}</td>
                    <td>{{ item.is_pay }}</td>
                    <td>{{ item.ps }}</td>
                    <td>{{ item.create_d }}</td>
                </tr>
            {% endfor %}
            <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </tfoot>
            </tbody>

        </table>
    </div>
{% endblock %}

