{% extends 'basc.html' %}
{% block title %}水费{% endblock %}
{% block breadcrumb %}
    <li><a href="{% url 'livingcost:index' %}">水表列表</a></li>
{% endblock %}

{% block content %}
    <div class="container">
    <div class="col-md-6">
        <ul class="list-group">
            {% for num in num_list %}
                <a class="list-group-item" href="{{  num.get_absolute_url }} ">
                    <span class="badge">test</span>
                    {{ num }}
                </a>
            {% endfor %}
        </ul>
    </div>
    </div>
{% endblock %}