{% extends 'livingcost/mark_d_list.html' %}
{% block title %}
    {{ block.super }} - {{ mark_d.mark_d }}
{% endblock %}

{% block breadcrumb %}
    <li><a href="{% url 'livingcost:mark' %}">抄表列表</a></li>
    <li><a href="{{ mark_d.get_absolute_url }}">{{ mark_d.mark_d }}</a></li>
{% endblock %}

{% block content %}

    <div class="container">
    <div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">本次抄表总表明细</div>
{#  <div class="panel-body">#}
{#  </div>#}


        <table class="table">
            <colgroup>
                <col class="col-md-1">
                <col class="col-md-7">
            </colgroup>
            <tbody>
            <tr>
                <td>抄表日期</td>
                <td>{{ mark_d.mark_d }}</td>
            </tr>
            <tr>
                <td>水表度数</td>
                <td>{{ mark_d.meter_num }}</td>
            </tr>
            <tr>
                <td>总表用水量</td>
                <td>{{ mark_d.get_total_m3 }}</td>
            </tr>
            <tr>
                <td>全村用水量</td>
                <td>{{ mark_d.get_total_account_m3 }}</td>
            </tr>
            <tr>
                <td>用水量差额</td>
                <td>{{ mark_d.get_balance_m3 }}</td>
            </tr>
            <tr>
                <td>总水费</td>
                <td>{{ mark_d.get_total_rate }}</td>
            </tr>
            <tr>
                <td>实际水费单价</td>
                <td>{{ mark_d.real_price }}</td>
            </tr>
            <tr>
                <td>备注信息</td>
                <td>{{ mark_d.ps }}</td>
            </tr>
            </tbody>
        </table>
</div>
        <table class="table">
            <thead>
            <tr>
                <th>表号</th>
                <th>水表度数</th>
                <th>上次度数</th>
                <th>用水量</th>
                <th>水费金额</th>
                <th>是否缴费</th>
                <th>备注信息</th>
                <th>录入日期</th>
            </tr>
            </thead>


            <tbody>
            {% for item in num_list %}
                <tr>
                    <td><a href="{% url 'livingcost:detail' item.id %}">{{ item.WaterNum }}</a>
                    </td>
                    <td>{{ item.meter_num }}</td>
                    <td>{{ item.get_pre_meter }}</td>
                    <td>{{ item.get_total_m3 }}</td>
                    <td>{{ item.get_total_price }}</td>
                    <td>{{ item.is_pay|yesno:"√, "}}</td>
                    <td>{{ item.ps }}</td>
                    <td>{{ item.create_d }}</td>
                </tr>
            {% endfor %}
            <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </tfoot>
            </tbody>

        </table>
    </div>

{% endblock %}

