{% load static %}

<!DOCTYPE html>
<html lang="zh">
<head>

    {% block head %}
        <meta charset="UTF-8">
        <title>{% block title %}盘屋村{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/custome.css' %}">
        <script src="http://cdn.static.runoob.com/libs/jquery/2.1.4/jquery.min.js"></script>
        <script type="text/javascript" src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script>

    {% endblock %}
</head>
<body>
{#顶部消息栏#}
{% block messages %}
    {% include 'messages.html' %}
{% endblock %}
{#导航栏#}
{% include 'menu.html' %}
<main>

    {#面包屑导航#}
    <div class="container">
        <ul class="breadcrumb"
        ">
        {% block breadcrumb %}{% endblock %}
        </ul>
    </div>

    {#内容钩子#}
    <div>{% block content %}{% endblock %}</div>

</main>
{#<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>#}
<script src="{% static 'js/bootstrap.js' %}"></script>
</body>
</html>