{% load static %}

<!DOCTYPE html>
<html lang="zh">
<head>

    {% block head %}
        <meta charset="UTF-8">
        <title>{% block title %}盘屋村{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/custome.css' %}">
        <!-- DataTables CSS -->

        <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.15/css/jquery.dataTables.css">
        <script type="text/javascript" src="http://cdn.static.runoob.com/libs/jquery/2.1.4/jquery.min.js"></script>

        {#        <script type="text/javascript" charset="utf8" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>#}
        {#        <script src="{% static 'js/vue.min.js' %}"></script>#}
        <script type="text/javascript" src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script>
        <!-- DataTables -->
        <script type="text/javascript" charset="utf8"
                src="http://cdn.datatables.net/1.10.15/js/jquery.dataTables.js"></script>
    {% endblock %}
</head>
<body>
{#顶部消息栏#}
{% block messages %}
    {% include 'messages.html' %}
{% endblock %}
{#导航栏#}
{% include 'menu.html' %}
<main>
    {#面包屑导航#}
    <div class="container">
        <ul class="breadcrumb">
            {% block breadcrumb %}{% endblock %}
        </ul>
    </div>

    {#内容钩子#}
    <div>{% block content %}{% endblock %}</div>

</main>
<div class="modal fade" id="login-modal" tabindex="1" data-backdrop="false" data-remote="login.html">
    <div class="modal-dialog">
        <div class="modal-content">
            {#            <div class="modal-header">#}
            {#                <button class="close" data-dismiss="modal">&times;</button>#}
            {#                <h4>用户登陆</h4>#}
            {#            </div>#}
            {#            <div class="modal-body">登陆用表单</div>#}
            {#            <div class="modal-footer">#}
            {#                <button class="btn btn-primary">登陆</button>#}
        </div>
    </div>
</div>
</div>

{% block footer %}
    <div style="position: absolute;bottom: 0px" class="container text-center">
        <div style="position: relative"><p>Power by Django,Design by Vincent_Pun</p>
            <p>since 2017</p></div>
    </div>
{% endblock %}
{#<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>#}
{#<script src="{% static 'js/vue.min.js' %}"></script>#}
<script src="{% static 'js/bootstrap.js' %}"></script>
<script>
    $(document).ready(function () {
        {% block domready %}
        {% endblock %}
    })
</script>
</body>
</html>