{% extends 'basc.html' %}
{% load bootstrap_tags %}
{% block title %}用户登录{% endblock %}
{% block content %}
    <div class="container">
        {% if msg %}
            <div class="alert alert-danger" role="alert">{{ msg }}</div>
        {% endif %}

        <form class="col-md-4" action="" method="post">
            <h2 class="form-signin-heading">登录网站</h2>
            {% csrf_token %}
            {{ form.errors }}
            {{ form|as_bootstrap_inline }}
            <input type="hidden" name="next" value="{{ next }}">
            <input class="btn btn-primary" type="submit" value="提交">
        </form>
    </div>
{% endblock %}