{% extends 'basc.html' %}
{% block title %}
    {{ block.super }} - 错误
{% endblock %}

{% block messages %}
{% endblock %}
{% block breadcrumb %}
{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="page-header">没有权限！</h2>
        {% if messages %}
            <ul class="messages list-unstyled">
                {% for message in messages %}
                    <li class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}" role="alert">
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}重要: {% endif %}
                        <h4>{{ message }}</h4>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        <a href="{{ request.session.back_url }}">返回</a>
    </div>
{% endblock %}