{% extends 'basc.html' %}
{% block title %}用户资料{% endblock %}
{% block content %}
    <div class="container">
    <div class="col-md-8">
        <h3 class="page-header">
            用户资料
        </h3>
        <ul class="list-unstyled">
            <li>用户名:{{ user.name }}</li>
            <li>村民姓名:{{ user.bind_people }}</li>
            {% load thumbnail %}
            {% thumbnail user.image "80x80" crop="80% center" as im  %}
            <li><img src="{{ im.url }}" alt="头像" class="img-circle"></li>
            {% endthumbnail %}
        </ul>
    </div>
    </div>
{% endblock %}